[Unit]
Description=net-pinger
After=network.target
After=bird.service
Requires=bird.service

[Service]
Type=simple
User=bird
Group=bird

ExecStart=/usr/bin/net-pinger -a "birdc enable provider1" -d "birdc disable provider1" 8.8.8.8
TimeoutSec=300

[Install]
WantedBy=multi-user.target